@import "../../App.module.scss";

.Modal {
  margin: 8% auto;
  width: 40vw;
  height: 60vh;
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 60%;
  overflow: auto;
  background-color: rgba(216, 224, 222, 0.8);
  animation: open-modal-animation 1s ease-in-out;
  
  @media (max-width: 600px) {
    width: 60vw;
    height: 55vh;
  }

  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  @media (max-width: 700px) {
    width: 60%;
  }

  & .Title {
    display: flex;
    justify-content: space-between;
    margin: 5%;
    margin-top: 0;
    margin-bottom: 0;

    & h1 {
      color: $primary-color;
      font-weight: 300;
      font-size: 1.3rem;
      text-transform: uppercase;
      @media (max-width: 600px) {
        font-size: 1rem;
      }
    }
    & .Close {
      & a {
        color: $primary-color;
        text-decoration: none;
        font-size: 2.3rem;
        font-weight: 100;
        transition: all 0.3s ease-in-out;
        @media (max-width: 600px) {
          font-size: 2rem;
        }
      }

      & :hover {
        color: #888;
      }
    }
    & hr {
      margin-top: -2%;
      border: 0;
      height: 1px;
      width: 10vw;
      float: left;
      background-image: linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0)
      );
      animation: hr-animation 4s alternate 1;

      @media (max-width: 600px) {
        width: 25vw;
        animation: none;
      }
    }
  }

  & .Content {
    margin: 5%;
    margin-top: 0;

    & p {
      color: $primary-color;
      font-weight: 300;
    }
  }
}

@keyframes open-modal-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hr-animation {
  0% {
    width: 0;
  }
  100% {
    width: 10vw;
  }
}
