@import "../../App.module.scss";

.Contact {
  @media (max-width: 600px) {
  }

  & form {
    margin-top: 5%;
    @media (max-width: 600px) {
      margin-top: 10%;
    }

    & :nth-child(4) {
      margin-top: 3%;
    }

    & .FormGroup {
      margin-top: 5%;
      @media (max-width: 600px) {
        margin-top: 10%;
      }

      & input,
      label,
      span,
      textarea {
        display: block;
        margin: 10px;
        padding: 5px;
        border: none;
        font-size: 1rem;
        font-family: inherit;
        color: $primary-color;
      }

      & input:focus,
      textarea:focus {
        outline: 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }

      & input.Question,
      textarea.Question {
        filter: grayscale(100%) brightness(110%);
        font-weight: 300;
        border-radius: 5px;
        margin: 0;
        border: none;
        width: 50%;
        background: rgba($color: $primary-color, $alpha: 0.7);
        transition: padding-top 0.3s ease, margin-top 0.2s ease,
          box-shadow 0.3s ease;
        overflow: hidden;
        @media (max-width: 600px) {
          width: 60%;
        }  
      }

      & textarea.Question {
        height: 30%;
      }

      & input.Question + label,
      textarea.Question + label {
        display: block;
        position: relative;
        padding: 0;
        margin: 0;
        height: 0px;
      }

      input.Question:focus + label > span,
      input.Question:valid + label > span {
        top: -53px;
        color: $primary-color;
      }

      textarea.Question:focus + label > span,
      textarea.Question:valid + label > span {
        top: -73px;
        color: $primary-color;
      }

      input.Question:valid,
      textarea.Question:valid {
        color: #333;
      }

      input.Question:not([value=""]) + label > span {
        z-index: 1000;
        font-size: 1rem;
        top: -53px;
        color: $primary-color;
      }

      textarea.Question:not(:empty) + label > span {
        z-index: 1000;
        font-size: 1rem;
        top: -73px;
        color: $primary-color;
      }

      input.Question + label > span,
      textarea.Question + label > span {
        font-weight: 500;
        margin: 0;
        position: absolute;
        color: #333;
        font-size: 1rem;
        top: -30px;
        left: 0px;
        z-index: 1;
        -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
        transition: top 0.3s ease, font-size 0.2s ease, color 0.2s ease;
      }

      textarea.Question + label > span {
        top: -50px;
      }

      @-webkit-keyframes appear {
        100% {
          opacity: 1;
        }
      }

      @keyframes appear {
        100% {
          opacity: 1;
        }
      }
    }
    & .Button {
      & button {
        margin-top: 5%;
        background: none;
        border: 1px solid;
        border-radius: 5px;
        color: #333;
        padding: 13px 26px;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.9rem;
        letter-spacing: 2px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        @media (max-width: 600px) {
          padding: 8px 15px;
          font-size: 0.6rem;
        }  
      }

      & :hover {
        color: $primary-color;
      }
    }
  }
}
